<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전 -->
<!-- 렌더링 결과
<script>
    var name = user;
    var age = 20;

    //자바스크립트 내추럴 템플릿
    var name2 = /*user*/ "test name"; -> 주석 대신 "test name" 출력
    //객체
    var user = com.ian.thymeleafbasic.basic.BasicController$User@1629e1e3;
</script>
-->
<script>
    var name = [[${user.name}]];
    var age = [[${user.age}]];

    //자바스크립트 내추럴 템플릿
    var name2 = /*[[${user.name}]]*/ "test name";
    //객체
    var user = [[${user}]];
</script>

<!-- 자바스크립트 인라인 사용 후 -->
<!-- 렌더링 결과
<script>
    var name = "user"; -> 큰 따옴표로 감싸줌
    var age = 20;
    //자바스크립트 내추럴 템플릿
    var name2 = "user"; -> 타임리프 주석의 [[${user.name}]] 출력
    //객체
    var user = {"age":20,"name":"user"}; -> 객체를 JSON으로 넣어줌
</script>
-->
<script th:inline="javascript">
    var name = [[${user.name}]];
    var age = [[${user.age}]];

    //자바스크립트 내추럴 템플릿
    var name2 = /*[[${user.name}]]*/ "test name";
    //객체
    var user = [[${user}]];
</script>

<!-- 자바스크립트 인라인 each -->
<!-- 렌더링 결과
<script>
    var user
    1 = {"age":10,"name":"userA"}
    var user
    2 = {"age":20,"name":"userB"}
    var user
    3 = {"age":30,"name":"userC"}

</script>
-->
<script th:inline="javascript">
    [# th:each = "user : ${users}"]
    var user[[${userStat.count}]] = [[${user}]]
    [/]
</script>
</body>
</html>